/* colors */
/* typography */
@font-face {
  font-family: "Now-Regular", sans-serif;
  src: url("../chance-cafe/fonts/Now-Regular.otf");
}
@font-face {
  font-family: "Now-Bold", sans-serif;
  src: url("../chance-cafe/fonts/Now-Bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Now-Black", sans-serif;
  src: url("../chance-cafe/fonts/Now-Bold.otf");
  font-weight: 900;
}
@font-face {
  font-family: "Astral-Sisters", cursive;
  src: url("../chance-cafe/fonts/Astral-Sisters.ttf"), url("../chance-cafe/fonts/astral-sisters-webfont.woff"), url("../chance-cafe/fonts/astral-sisters-webfont.woff2");
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* cats page typography */
.adoption {
  width: 100vw;
  margin: 0;
}
.adoption__header {
  text-align: center;
  background-image: url("../../images/kittenwplant.jpg");
  background-color: #b0bf97;
  background-position: center;
  height: 550px;
  margin-bottom: 3em;
}
.adoption__title {
  font-size: 2.5rem;
  color: #b0bf97;
  margin: 0.5em 0;
  padding: 0.6em 0.6em;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}
.adoption__subtitle {
  color: #e89c89;
  font-size: 2rem;
  margin-bottom: 1em;
}
.adoption__info {
  line-height: 2;
  margin-bottom: 1.5em;
}

#cat-breed {
  font-size: 1.3rem;
  text-transform: capitalize;
}

#cat-name {
  text-transform: lowercase;
  margin-bottom: 0.5em;
}

#cat-name:first-letter {
  text-transform: capitalize;
}

#cat-name {
  font-weight: bold;
}

.wrapper {
  width: 65%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.card {
  width: 275px;
  max-height: 450px;
  border-radius: 5px;
  margin: 1.5em auto;
  padding: 0 0 1em 0;
  box-shadow: 2px 2px 6px 0px #e89c89;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.card__imgdiv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px 5px 0 0;
  width: 275px;
  height: 300px;
  overflow: hidden;
}
.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__info {
  padding: 2em 1em;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.card__info > p {
  margin: 0 auto;
}
.card__link {
  margin: 1em auto 0 auto;
}

#small-link {
  font-size: 1.2rem;
  cursor: pointer;
  color: #b0bf97;
}

#small-link:hover,
#small-link:focus {
  font-family: "Now-Black", "Poppins", sans-serif;
  font-weight: 700;
  text-decoration: underline;
}

.card:hover,
.card:focus {
  box-shadow: 2px 2px 26px 0px #e89c89;
  cursor: pointer;
}

.card-container {
  width: 80%;
  margin: 0.5em auto 2em auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 650px) {
  .adoption__title {
    font-size: 3.2rem;
    padding: 0.5em 1.4em;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 275px);
    gap: 2.2em;
    justify-content: center;
  }

  .card {
    margin: 1em auto;
  }
}
/* adoption modal */
.overlay {
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 8;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  scrollbar-color: #e89c89;
  animation-name: fadein;
  animation-duration: 1s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}
.overlay__modal {
  background-color: white;
  width: 80%;
  max-height: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  border-radius: 5px;
  overflow: auto;
  scrollbar-color: #e89c89;
  animation-name: fadein;
  animation-duration: 1s;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}
@keyframes fadein {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 650px) {
  .overlay__modal {
    margin: 0;
    max-width: 80%;
    height: 600px;
    max-height: 90%;
  }
}
.modal-wrapper {
  width: 90%;
  margin: 0 auto;
}

.modal-header {
  background-color: #b0bf97;
  padding: 1em;
}

.modal-header__title {
  color: white;
  text-align: center;
}
.modal-header__title--green {
  color: #b0bf97;
  text-align: center;
}

@media (min-width: 650px) {
  .modal-wrapper {
    width: 70%;
  }
}
.modal-open {
  position: fixed;
}

#requirement-list > li {
  text-align: left;
}

#requirement-list, #process-list {
  font-size: 1.2rem;
  padding: 1em 2em;
  font-weight: normal;
  line-height: 1.3;
  color: black;
}

/* button on adoption modal*/
#close-modal {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 0;
  right: 1rem;
  z-index: 40;
}

#close-modal:hover,
#close-modal:focus {
  color: white;
}

body .modal-open {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* adoption interest form */
.adoption-interest {
  width: 70%;
  margin: 0 auto;
}

.adoption-interest__text {
  text-align: center;
  margin: 1em 0;
}

.adoption-interest > label {
  display: block;
  color: #e89c89;
  font-weight: 700;
}

.adoption-interest > input {
  margin-bottom: 1.5em;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  width: 100%;
  text-align: left;
}

.adoption-interest > input:hover, input:focus, textarea:hover {
  border: 1px solid #e89c89;
}

textarea:focus {
  outline: 1px solid #e89c89;
}

.adoption-interest > input::placeholder {
  color: #c4c4c4;
}

.adoption-interest > button {
  border: none;
  border-radius: 5px;
  padding: 0.75em 1em;
  display: block;
  margin-left: auto;
  cursor: pointer;
}

.adoption-interest > button:hover, button:focus {
  border: 4px solid #e89c89;
  background-color: rgba(255, 255, 255, 0.5);
  color: #e89c89;
}

textarea {
  width: 100%;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 1em 1.5em;
  margin-bottom: 1.5em;
}

textarea::placeholder {
  color: #c4c4c4;
}

/*# sourceMappingURL=cats.css.map */
