/* colors */
/* typography */
@font-face {
  font-family: "Now-Regular", sans-serif;
  src: url("../chance-cafe/fonts/Now-Regular.otf");
}
@font-face {
  font-family: "Now-Bold", sans-serif;
  src: url("../chance-cafe/fonts/Now-Bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Now-Black", sans-serif;
  src: url("../chance-cafe/fonts/Now-Bold.otf");
  font-weight: 900;
}
@font-face {
  font-family: "Astral-Sisters", cursive;
  src: url("../chance-cafe/fonts/Astral-Sisters.ttf"), url("../chance-cafe/fonts/astral-sisters-webfont.woff"), url("../chance-cafe/fonts/astral-sisters-webfont.woff2");
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Now-Regular", "Poppins", sans-serif;
  color: #494949;
}

.cursivetext--pink,
.cursivetext--pink {
  font-family: "Astral-Sisters", "Dancing Script", cursive;
  color: #e89c89;
  font-size: 3.5rem;
}

.newsletter__cursivetext--white {
  font-family: "Astral-Sisters", "Dancing Script", cursive;
  font-size: 2.7rem;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 0.2em;
}

.reservations__text,
.about__text {
  font-size: 1.5rem;
  line-height: 1.7;
  margin-top: 0;
  margin-bottom: 1em;
}

.link {
  font-size: 1.5rem;
  color: #e89c89;
  text-decoration: none;
  cursor: pointer;
}

.link:hover,
.link:focus {
  font-family: "Now-Black", "Poppins", sans-serif;
  font-weight: 700;
  text-decoration: underline;
}

@media (min-width: 750px) {
  .cursivetext--pink,
.cursivetext--pink {
    margin-bottom: 0.7em;
  }
}
/* images */
img {
  max-width: 100%;
  border-radius: 5px;
}

@media (min-width: 750px) {
  img {
    margin: 0;
  }
}
/* navigation */
.nav {
  font-size: 1.2rem;
}
.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #b0bf97;
  margin-top: 5%;
  height: 0;
  text-align: center;
  visibility: hidden;
}
.nav__list--open {
  height: 50vh;
  visibility: visible;
}
@keyframes slidein {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}
.nav__item {
  list-style: none;
}
.nav__link {
  text-decoration: none;
  color: white;
}
.nav .nav__link:hover, .nav .nav__link:focus {
  font-family: "Now-Black", "Poppins", sans-serif;
  font-weight: 700;
  border-bottom: 1px solid white;
}
.nav__placeholder {
  height: 100px;
}

.mobilenav {
  background-color: white;
  z-index: 5;
  width: 100%;
  padding: 1.2em 0;
}
.mobilenav__toggle {
  padding: 1em;
  cursor: pointer;
}
.mobilenav__toggle--burger, .mobilenav__toggle--burger::before, .mobilenav__toggle--burger::after {
  content: "";
  display: block;
  background-color: #e89c89;
  width: 1.5em;
  height: 4px;
  border-radius: 3px;
}
.mobilenav__toggle--burger::before {
  transform: translateY(-8px);
}
.mobilenav__toggle--burger::after {
  transform: translateY(4px);
}

.active {
  width: 1.5em;
  height: 4px;
  border-radius: 3px;
}

/* begin working here for transition */
.open .mobilenav__toggle--burger::before {
  opacity: 0;
}

@media (min-width: 750px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav__placeholder {
    height: auto;
    width: 30%;
  }
  .nav__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: transparent;
    color: #e89c89;
    z-index: auto;
    height: auto;
    width: 50%;
    visibility: visible;
    margin: 0;
  }
  .nav__item {
    margin-right: 1em;
  }
  .nav__item:last-child {
    margin-right: 1.5em;
  }
  .nav__link {
    font-family: "Now-Bold", "Poppins", sans-serif;
    font-size: 1rem;
    color: #e89c89;
    cursor: pointer;
  }
  .nav__link:hover, .nav__link:focus {
    font-family: "Now-Black", "Poppins", sans-serif;
    font-weight: 700;
    text-decoration: underline;
  }

  .mobilenav__toggle {
    display: none;
  }
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
}

.mobilenav__logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.mobilenav__logo--img {
  width: 25%;
  transform: rotate(25deg);
  display: inline-block;
  margin: 5px;
}

.mobilenav__logo--text {
  margin-top: -15px;
  font-size: 2rem;
  font-family: "Astral-Sisters", "Dancing Script", cursive;
  color: #e89c89;
  display: inline-block;
}

@media (min-width: 750px) {
  .sticky {
    position: static;
  }

  .mobilenav {
    background-color: transparent;
  }
  .mobilenav__logo--img {
    width: 30%;
  }
}
/* hero */
.hero__imgdiv {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.hero__img {
  background-image: url("../../images/womenwcat_heroimg.jpg");
  background-color: #e89c89;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: right 25% bottom 0%;
}
.hero__text {
  position: absolute;
  padding-top: 6em;
  padding-left: 2em;
  width: 70%;
  z-index: 2;
}
.hero__title {
  font-weight: bold;
  color: white;
  font-size: 3.5rem;
  margin-top: 0;
  margin-bottom: 0.25em;
  margin-bottom: 1.2em;
  text-shadow: 0px 0px 8px #aaaaaa;
}
.hero .button--pink {
  margin: 0 auto;
}

@media (min-width: 750px) {
  .hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: static;
    width: 100%;
  }
  .hero__img {
    display: block;
    background-position: center;
  }
  .hero__imgdiv {
    flex-grow: 2;
  }
  .hero__text {
    position: static;
    z-index: auto;
    width: 40%;
  }
  .hero__text--container {
    flex-grow: 1;
    flex-basis: 400px;
    padding: 0 1em;
    margin: 0 auto;
  }
  .hero__text--btncontainer {
    width: 100%;
    margin-right: 0;
  }
  .hero__title {
    color: #e89c89;
    text-align: left;
    text-shadow: none;
  }
  .hero .button--pink {
    margin-right: 2em;
  }
}
/* reservations and photo gallery */
.main__photo-gallery {
  display: block;
  margin: 3.5em 0;
}

.container {
  padding: 3.5em 2em;
  text-align: center;
}

.gallery-img-mobile {
  display: none;
}

.fa-circle {
  opacity: 40%;
  margin-top: 3em;
}

.green {
  color: #b0bf97;
}

@media (min-width: 750px) {
  .container {
    padding: 4.5em 2em;
  }

  .main {
    padding-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .reservations {
    width: 30%;
  }

  .gallery-img-mobile {
    display: inline-block;
  }

  .main__photo-gallery {
    margin-left: 0;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 0.75rem;
    width: 60%;
  }

  .slides {
    width: 100%;
    height: 100%;
  }

  .gallery-img {
    object-fit: cover;
    height: 100%;
  }

  .slides__grid--col {
    grid-column: span 2;
  }

  .slides__grid--row {
    grid-row: span 3;
  }

  .dots {
    display: none;
  }
}
/* about styles */
.about__textblock {
  position: relative;
}
.about__textblock::before {
  content: "";
  background-image: url("../../images/pawprints-b.png");
  background-position: bottom right;
  background-size: 70%;
  background-repeat: no-repeat;
  position: absolute;
  height: inherit;
  width: inherit;
  opacity: 0.3;
  top: 0;
  right: 1em;
  bottom: -5em;
  left: 0;
}
.about__img {
  margin: 3em 0;
}

@media (min-width: 750px) {
  .about {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    padding-top: 6em;
    padding-bottom: 3em;
    margin: 0 auto;
    z-index: auto;
    width: 70%;
  }
  .about__img {
    width: 40%;
  }
  .about__textblock {
    width: 40%;
    height: auto;
    text-align: left;
    position: relative;
    z-index: auto;
  }
  .about__textblock::before {
    content: "";
    background-image: url("../../images/pawprints-b.png");
    background-position: top left;
    background-size: 120%;
    opacity: 0.3;
    width: 100%;
    background-repeat: repeat;
    position: absolute;
    top: -7em;
    right: 0;
    bottom: 5em;
    left: -10em;
  }
}
/* button styles */
.btn--primaryoutline {
  border: 4px solid #e89c89;
  font-family: "Now-Regular", "Poppins", sans-serif;
  background-color: transparent;
  color: #e89c89;
  font-size: 1.5rem;
  padding: 0.75em 2em;
  border-radius: 5px;
  cursor: pointer;
}

.btn--primaryoutline:hover,
.btn--primaryoutline:focus {
  background-color: #e89c89;
  font-family: "Now-Regular", "Poppins", sans-serif;
  color: white;
  border: none;
  padding: 0.75em 1em;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  white-space: nowrap;
}

.btn--primaryfill {
  background-color: #e89c89;
  font-family: "Now-Regular", "Poppins", sans-serif;
  color: white;
  border: none;
  padding: 0.75em 1em;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  white-space: nowrap;
}

.btn--primaryfill:hover,
.btn--primaryfill:focus {
  border: 4px solid #e89c89;
  font-family: "Now-Regular", "Poppins", sans-serif;
  background-color: transparent;
  color: #e89c89;
  font-size: 1.5rem;
  padding: 0.75em 2em;
  border-radius: 5px;
  cursor: pointer;
}

/* might be able to delete? */
@media (min-width: 750px) {
  .btn--primaryfill {
    background-color: #e89c89;
    font-family: "Now-Regular", "Poppins", sans-serif;
    color: white;
    border: none;
    padding: 0.75em 1em;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    white-space: nowrap;
  }

  .btn--primaryfill:hover,
.btn--primaryfill:focus {
    border: 4px solid #e89c89;
    font-family: "Now-Regular", "Poppins", sans-serif;
    background-color: transparent;
    color: #e89c89;
    font-size: 1.5rem;
    padding: 0.75em 2em;
    border-radius: 5px;
    cursor: pointer;
  }
}
/*footer styles */
.footernav {
  background-color: #b0bf97;
  color: white;
  padding: 3.5em 2em;
  display: flex;
  justify-content: space-between;
}
.footernav__list {
  text-align: center;
  flex-grow: 1;
}
.footernav__item {
  list-style: none;
  margin-bottom: 1.5em;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}
.footernav__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
.footernav__link:hover, .footernav__link:focus {
  font-family: "Now-Black", "Poppins", sans-serif;
  color: white;
  font-weight: 700;
  text-decoration: underline;
}

@media (min-width: 750px) {
  .footernav {
    padding: 2.5em 7em;
  }

  .footernav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40%;
  }
}
/* form */
.newsletter {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.newsletter .button--pink {
  margin: 0 auto;
  width: 70%;
  max-width: 150px;
  font-size: 1rem;
  padding: 0.5em 0.5em;
}

label {
  display: none;
}

input {
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 1.5em;
  padding: 1em 1.5em;
  border-radius: 5px;
  border: none;
  width: 65%;
}

input:focus {
  outline-color: #e89c89;
}

::placeholder {
  color: #e89c89;
}

@media (min-width: 750px) {
  input {
    width: 50%;
  }
}

/*# sourceMappingURL=main.css.map */
