/* menu page */
@use "../abstracts/" as *;


.menu {
    @include flex(row, flex-start, center);
    gap: 10%;
    &__imgdiv{
        height: 90vh;
    }
    
    &__img {
        width: 70px;
        height: 100%;
        object-fit: cover;
    }

    &__text{
        text-align: left;
        width: 60%;
    }
}

@media (min-width: 750px){
    .menu {
        gap: 3rem; 
        &__img {
            width: 150px;
        }
    }
}

.wrapper {
    width: 70%;
    margin: 1rem auto;
    padding: 1rem 0.7rem 1rem 0;
    background-color: #fbfbfb;
}

@media (min-width: 750px){
    .wrapper {
        width: 50%;
        margin: 2rem auto;
        padding: 2rem 1rem 2rem 0;
        max-width: 550px;
    }
}

.cursive-text {
    font-family: "Astral-Sisters", "Dancing Script", cursive;
    font-size: 2.5rem;
    margin-bottom: 0.2em;
}

@media (min-width: 750px){
    .cursive-text {
        font-size: 6rem;
    }
}


.sans-serif-heading {
    font-family: "Now-Regular", "Poppins", sans-serif;
    font-size: 1rem;
}

@media (min-width: 750px){
    .sans-serif-heading {
        font-size: 1.5rem;
    }
}

.pink-sansserif-heading{
    color: $primaryPink;
}

.border {
    border: 3px solid $secondaryPink;
    border-radius: 5px;
    padding: .75rem 1rem;
}

.specials {
    width: 100%;
}

.left-align {
    float: left;
}

.right-align {
    float: right;
}

.clear {
    clear: both;
}