@use "../abstracts/colors" as c;
@use "../abstracts/fonts" as f;

@mixin flex($direction, $positionJustify, $positionAlign){
    display: flex;
    flex-direction: $direction;
    justify-content: $positionJustify;
    align-items: $positionAlign;
}

@mixin btn-primaryoutline {
    border: 4px solid c.$primaryPink;
    font-family: f.$sans-serif;
    background-color: rgba(white, 0.5);
    color: c.$primaryPink;
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
    border-radius: 5px;
    cursor: pointer;
}

@mixin btn-whiteoutline {
    border: 4px solid white;
    font-family: f.$sans-serif;
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
    border-radius: 5px;
    cursor: pointer;
}

@mixin btn-whitefill {
    border: 4px solid c.$primaryPink;
    font-family: f.$sans-serif;
    background-color: rgba(white, 0.5);
    color: c.$primaryPink;
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
    border-radius: 5px;
    cursor: pointer;
}

@mixin btn-primaryfill {
    background-color: c.$primaryPink;
    font-family: f.$sans-serif;
    color: white;
    border: none;
    padding: 0.75rem 2rem;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    white-space: nowrap;
}