@import "./global";
@import "./mixins";

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* typography */ 
@font-face {
    font-family: "Now-Regular", sans-serif;
    src: url(../fonts/Now-Regular.otf);
}

@font-face {
    font-family: "Now-Bold", sans-serif;
    src: url("../fonts/Now-Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "Now-Black", sans-serif;
    src: url("../fonts/Now-Bold.otf");
    font-weight: 900;
}

@font-face {
    font-family: "Astral-Sisters" cursive;
    src: url("../fonts/Astral-Sisters.ttf")
}

body {
    font-family: "Now-Regular", "Poppins", sans-serif;
}

.reservations__cursivetext--pink,
.about__cursivetext--pink{
    font-family: "Astral-Sisters", "Dancing Script", cursive;
    color: $primaryPink;
    font-size: 3.5rem;
}

.newsletter__cursivetext--white{
    font-family: "Astral-Sisters", "Dancing Script", cursive;
    font-size: 2.7rem;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 0.2em;
}

.reservations__text,
.about__text {
    font-size: 1.5rem;
    line-height: 1.7;
    margin-top: 0;
    margin-bottom: 1em;
}

.link{
    font-size: 1.5rem;
    color: $primaryPink;
    text-decoration: none;
}

.link:hover,
.link:focus{
    font-weight: 900;
    text-decoration: underline;
}
/* images */
img {
    max-width: 100%;
    border-radius: 5px;
    margin: 3em 0;
}

// #logo {
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//     margin-bottom: 1em;
//     width: 60%;
//     max-width: 400px;
// }

/* navigation */
.nav {
    font-size: 2rem;

    .nav__list{
        @include flex(column, space-around, center);
        display: none;
        background-color: $accentGreen;
        padding: 0.25em 0;
        height: 100vh;
        text-align: center;
    }

    .nav__list--animate{
        animation-duration: 700ms;
        animation-name: slidein;
    }

    @keyframes slidein{
        from {
            margin-left: 100%;
          }
        
          to {
            margin-left: 0%;
          }
    }

    .nav__item {
        list-style: none;
    }

    .nav__link {
        text-decoration: none;
        color: white;
    }
    
    .nav__link:hover, .nav__link:focus {
        border-bottom: 1px solid white;
        font-weight: bold;
    }

    &__placeholder{
        height: 90px;
        border: 1px solid red;
    }
}

.flex{
    @include flex(row, space-between, center);
    padding: 5px;
}

.sticky {
    position: fixed;
    align-self: flex-send;
    top: 0;
    left: 0;
}

#desktop-logo {
    display: none;
}

.mobilenav__logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mobilenav__logo--img{
    width: 25%;
    margin: 0;
    transform: rotate(25deg);
    display: inline-block;
    margin: 5px;
}

.mobilenav__logo--text{
    font-size: 2rem;
    font-family: "Astral-Sisters", "Dancing Script", cursive;
    color: $primaryPink;
    display: inline-block;
}


.mobilenav{
    background-color: white;
    z-index: 100;
}
    
.mobilenav__icons{
    width: 0;
}

#mobilenav__icons--burger{
    color: $primaryPink;
    padding-right: 0.5em;
    margin-right: 0.5em;
    cursor: pointer;
    display: inline;
    position: relative;
}

#mobilenav__icons--burger::before {
    color: $primaryPink;
    padding-right: 0.5em;
    margin: 5px;
    cursor: pointer;
    display: inline;
    position: absolute;
    top: -5px;
    right: 0;
}

/* hero */ 
.hero {

    &__imgdiv{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    &__img{
        background-image: url(../images/womenwcat_heroimg.jpg);
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: right 25% bottom 0%;
    }
    
    &__text {
        position: absolute; 
        padding-top: 6em;
        padding-left: 2em;
        width: 70%;
        z-index: 2;
    }

    &__title{
        font-weight: bold;
        color: white;
        font-size: 3.5rem;
        margin-top: 0;
        margin-bottom: 0.25em;
        margin-bottom: 1.2em;
        text-shadow: -4px 4px 4px $primaryPink;
    }
}


/* reservations and photo gallery */

.main__photo-gallery{
    display: block;
    margin: 3.5em 0;
}


.container {
    padding: 3.5em 2em;
    text-align: center;
}

.gallery-img-mobile{
    display: none;
}

.fa-circle {
    opacity: 40%;
}

.green {
    color: $accentGreen;
}

/* button styles */

.button {
    border: 4px solid $primaryPink;
    font-family: "Now", "Poppins", sans-serif;
    background-color: transparent;
    color: $primaryPink;
    font-size: 1.5rem;
    padding: 0.75em 2em;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover, 
.button:focus{
    background-color: $primaryPink;
    color: white;
}

.button--pink {
    background-color: $primaryPink;
    font-family: "Now", "Poppins", sans-serif;
    color: white;
    border: none;
    padding: 0.75em 1em;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    white-space: nowrap;
}

.button--pink:hover,
.button--pink:focus{
    font-weight: bold;
    border: 4px solid $primaryPink;
    background-color: white;
    color: $primaryPink;
}

/*footer styles */

.footernav{
    background-color: $accentGreen;
    color: white;
    padding: 3.5em 2em;
    display: flex;
    justify-content: space-between;

    &__list{
        text-align: center;
    }

    &__item{
        list-style: none;
        margin-bottom: 1.5em;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }

    &__link{
        text-decoration: none;
        color: white;
    }

    &__link:hover, &__link:focus{
        text-decoration: underline;
        font-weight: bold;
    }
}

/* form */ 

.newsletter{
    width: 50%;
    @include flex(column, center, center);

    .button--pink {
        margin: 0 auto;
        width: 70%;
        max-width: 150px;
        font-size: 1rem;
        padding: 0.5em 0.5em;
    }
}

label{
    display: none;
}

input{
    margin-bottom: 1.5em;
    padding: 1em 1.5em;
    border-radius: 5px;
    border: none;
}

::placeholder {
    color: $primaryPink;
}

/*desktop styles*/
@media(min-width: 600px){
    .mobilenav__icons{
        display: none;
    }
    .mobilenav__logo{
        display: none;
    }

    #desktop-logo{
        display: block;
        width: 30%;
    }

    .logo{
        @include flex(column, space-around, center);
    }

    .nav__list{
        display: block;
        color: $primaryPink;
        z-index: 101;
    }
}
