*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* typography */
@font-face {
  font-family: "Now-Regular", sans-serif;
  src: url(/fonts/Now-Regular.otf);
}

@font-face {
  font-family: "Now-Bold", sans-serif;
  src: url(/fonts/Now-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: "Buffalo", cursive;
  src: url(/fonts/Buffalo.otf);
}

body {
  font-family: "Now-Regular", sans-serif;
}

h1 {
  font-weight: bold;
  color: white;
  font-size: 3.5rem;
}

.reservations__cursivetext--pink,
.about__cursivetext--pink {
  font-family: "Buffalo", cursive;
  color: #bb7968;
  font-size: 3.5rem;
}

.newsletter__cursivetext--white {
  font-family: "Buffalo", cursive;
  font-size: 2rem;
  text-align: center;
}

.reservations,
.about, .link {
  text-align: center;
}

.reservations__text,
.about__text {
  font-size: 1.5rem;
  line-height: 1.7;
  margin-bottom: 1em;
}

.link {
  font-size: 1.5rem;
  color: #bb7968;
  text-decoration: none;
}

.link:hover,
.link:focus {
  font-weight: bold;
  text-decoration: underline;
}

/* images */
img {
  max-width: 100%;
  border-radius: 5px;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  width: 60%;
  max-width: 400px;
}

/* navigation */
.nav {
  font-size: 2rem;
}

.nav .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  background-color: rgba(126, 153, 54, 0.6);
  padding: 1em;
  margin: 1em;
  text-align: center;
}

.nav .nav__item {
  list-style: none;
}

.nav .nav__link {
  text-decoration: none;
  color: white;
}

.nav .nav__link:hover, .nav .nav__link:focus {
  border-bottom: 1px solid white;
  font-weight: bold;
}

.nav .fa-search,
.nav .fa-bars {
  color: #bb7968;
  padding-right: 0.5em;
  cursor: pointer;
}

.nav .mobilenav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.75em;
  margin-right: 0;
}

/* hero */
.hero {
  /*
    #hero__img {
        height: 100vh;
        position: absolute;
        filter: blur(1px);
        object-fit: cover;
        object-position: right;
        overflow: hidden;
    }
    */
}

.hero #hero__imgdiv {
  width: 100vw;
  height: 100vh;
}

.hero #hero__img {
  -o-object-fit: cover;
     object-fit: cover;
  background-image: url(/images/womenwcat_heroimg.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-position: right 50% bottom 45%;
}

.hero #hero__text {
  position: absolute;
  padding: 4em;
  width: 70%;
  z-index: 100;
}

/* reservations and photo gallery */
.main__photo-gallery {
  display: block;
  margin-top: 2.5em;
}

.container {
  padding: 3.5em 2em;
}

/*
#guywithcat {
    position: absolute;
}
*/
.gallery-img-mobile {
  display: none;
}

.fa-circle {
  opacity: 40%;
}

.pink {
  color: #bb7968;
}

/* button styles */
.button {
  border: 4px solid #bb7968;
  background-color: transparent;
  color: #bb7968;
  font-size: 1.5rem;
  margin-bottom: 2em;
  padding: 0.75em 2em;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #bb7968;
  color: white;
}

.button--pink {
  background-color: #bb7968;
  color: white;
  border: none;
  padding: 0.75em 1em;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

/*footer styles */
.footernav {
  background-color: rgba(126, 153, 54, 0.6);
  color: white;
  padding: 3.5em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footernav__list {
  width: 50%;
  text-align: center;
}

.footernav__item {
  list-style: none;
  margin-bottom: 1.5em;
}

.footernav__link {
  text-decoration: none;
  color: white;
}

.footernav__link:hover, .footernav__link:focus {
  text-decoration: underline;
  font-weight: bold;
}

.newsletter {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

label {
  display: none;
}

input {
  margin-bottom: 1.5em;
  padding: 1em 1.5em;
  border-radius: 5px;
}
/*# sourceMappingURL=styles.css.map */