*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* typography */
@font-face {
  font-family: "Now-Regular", sans-serif;
  src: url("../chance-cafe/fonts/Now-Regular.otf");
}

@font-face {
  font-family: "Now-Bold", sans-serif;
  src: url("../chance-cafe/fonts/Now-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Now-Black", sans-serif;
  src: url("../chance-cafe/fonts/Now-Bold.otf");
  font-weight: 900;
}

@font-face {
  font-family: "Astral-Sisters" cursive;
  src: url("../chance-cafe/fonts/Astral-Sisters.ttf");
}

body {
  font-family: "Now-Regular", "Poppins", sans-serif;
}

.cursivetext--pink,
.cursivetext--pink {
  font-family: "Astral-Sisters", "Dancing Script", cursive;
  color: #bb7968;
  font-size: 3.5rem;
}

.newsletter__cursivetext--white {
  font-family: "Astral-Sisters", "Dancing Script", cursive;
  font-size: 2.7rem;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 0.2em;
}

.reservations__text,
.about__text {
  font-size: 1.5rem;
  line-height: 1.7;
  margin-top: 0;
  margin-bottom: 1em;
}

.link {
  font-size: 1.5rem;
  color: #bb7968;
  text-decoration: none;
}

.link:hover,
.link:focus {
  font-family: "Now-Black", "Poppins", sans-serif;
  font-weight: 700;
  text-decoration: underline;
}

@media (min-width: 750px) {
  .cursivetext--pink,
  .cursivetext--pink {
    margin-bottom: 0.7em;
  }
}

/* images */
img {
  max-width: 100%;
  border-radius: 5px;
  margin: 3em 0;
}

@media (min-width: 750px) {
  img {
    margin: 0;
  }
}

/* navigation */
.nav {
  font-size: 1.2rem;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(126, 153, 54, 0.6);
  margin-top: 5%;
  height: 0;
  text-align: center;
  overflow: hidden;
}

.nav__list--open {
  height: 50vh;
}

@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

.nav__item {
  list-style: none;
}

.nav__link {
  text-decoration: none;
  color: white;
}

.nav .nav__link:hover, .nav .nav__link:focus {
  font-family: "Now-Black", "Poppins", sans-serif;
  font-weight: 700;
  border-bottom: 1px solid white;
}

.nav__placeholder {
  height: 100px;
}

.mobilenav {
  background-color: white;
  z-index: 110;
  width: 100%;
}

.mobilenav__toggle {
  padding: 1em;
  cursor: pointer;
}

.mobilenav__toggle--burger, .mobilenav__toggle--burger::before, .mobilenav__toggle--burger::after {
  content: "";
  display: block;
  background-color: #bb7968;
  width: 1.5em;
  height: 4px;
  border-radius: 3px;
}

.mobilenav__toggle--burger::before {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.mobilenav__toggle--burger::after {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

/* begin working here for transition */
.open .mobilenav__toggle--burger::before {
  opacity: 0;
}

@media (min-width: 750px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1.2em;
  }
  .nav__placeholder {
    height: auto;
    width: 30%;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    color: #bb7968;
    z-index: auto;
    height: auto;
    width: 50%;
  }
  .nav__item {
    margin-right: 1em;
  }
  .nav__item:last-child {
    margin-right: 1.5em;
  }
  .nav__link {
    font-family: "Now-Bold", "Poppins", sans-serif;
    font-size: 1rem;
    color: #bb7968;
    cursor: pointer;
  }
  .nav__link:hover, .nav__link:focus {
    font-family: "Now-Black", "Poppins", sans-serif;
    font-weight: 700;
    text-decoration: underline;
  }
  .mobilenav__toggle {
    display: none;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
}

#desktop-logo {
  display: none;
}

.mobilenav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobilenav__logo--img {
  width: 25%;
  margin: 0;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  display: inline-block;
  margin: 5px;
}

.mobilenav__logo--text {
  font-size: 2rem;
  font-family: "Astral-Sisters", "Dancing Script", cursive;
  color: #bb7968;
  display: inline-block;
}

@media (min-width: 750px) {
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sticky {
    position: static;
  }
  .mobilenav {
    background-color: transparent;
    z-index: auto;
  }
  .mobilenav__logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0;
  }
}

/* hero */
.hero__imgdiv {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.hero__img {
  background-image: url(../images/womenwcat_heroimg.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: right 25% bottom 0%;
}

.hero__text {
  position: absolute;
  padding-top: 6em;
  padding-left: 2em;
  width: 70%;
  z-index: 2;
}

.hero__title {
  font-weight: bold;
  color: white;
  font-size: 3.5rem;
  margin-top: 0;
  margin-bottom: 0.25em;
  margin-bottom: 1.2em;
  text-shadow: 0px 0px 8px #aaaaaa;
}

.hero .button--pink {
  margin: 0 auto;
}

@media (min-width: 750px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: static;
    width: 100%;
  }
  .hero__img {
    display: block;
    background-position: center;
  }
  .hero__imgdiv {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  .hero__text {
    position: static;
    z-index: auto;
    width: 40%;
  }
  .hero__text::before {
    content: "";
    background-image: url(../images/pawprints-b.png);
    background-position: left bottom;
    background-size: 70%;
    background-repeat: no-repeat;
    position: absolute;
    height: inherit;
    width: inherit;
    opacity: 0.3;
    top: 0;
    right: 0;
    bottom: -12em;
    left: -5em;
  }
  .hero__text--container {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 400px;
        flex-basis: 400px;
    padding: 0 1em;
    margin: 0 auto;
  }
  .hero__text--btncontainer {
    width: 100%;
    margin-right: 0;
  }
  .hero__title {
    color: #bb7968;
    text-align: left;
    text-shadow: none;
  }
  .hero .button--pink {
    margin-right: 2em;
  }
}

/* reservations and photo gallery */
.main__photo-gallery {
  display: block;
  margin: 3.5em 0;
}

.container {
  padding: 3.5em 2em;
  text-align: center;
}

.gallery-img-mobile {
  display: none;
}

.fa-circle {
  opacity: 40%;
}

.green {
  color: rgba(126, 153, 54, 0.6);
}

@media (min-width: 750px) {
  .container {
    padding: 4.5em 2em;
  }
  .main {
    padding-top: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reservations {
    width: 30%;
  }
  .gallery-img-mobile {
    display: inline-block;
  }
  .main__photo-gallery {
    margin-left: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (2fr)[3];
        grid-template-columns: repeat(3, 2fr);
    gap: 0.75rem;
    width: 60%;
  }
  .slides {
    width: 100%;
    height: 100%;
  }
  .gallery-img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
  .slides__grid--col {
    grid-column: span 2;
  }
  .slides__grid--row {
    grid-row: span 3;
  }
  .dots {
    display: none;
  }
}

/* about styles */
.about__textblock {
  position: relative;
}

.about__textblock::before {
  content: "";
  background-image: url(../images/pawprints-b.png);
  background-position: bottom right;
  background-size: 70%;
  background-repeat: no-repeat;
  position: absolute;
  height: inherit;
  width: inherit;
  opacity: 0.3;
  top: 0;
  right: 1em;
  bottom: -5em;
  left: 0;
}

@media (min-width: 750px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 6em;
    padding-bottom: 3em;
    margin: 0 auto;
    z-index: auto;
    width: 70%;
  }
  .about__img {
    width: 40%;
  }
  .about__textblock {
    width: 40%;
    height: auto;
    text-align: left;
    position: relative;
    z-index: auto;
  }
  .about__textblock::before {
    content: "";
    background-image: url(../images/pawprints-b.png);
    background-position: top left;
    background-size: 120%;
    opacity: 0.3;
    width: 100%;
    background-repeat: repeat;
    position: absolute;
    top: -7em;
    right: 0;
    bottom: 5em;
    left: -10em;
  }
}

/* button styles */
.button {
  border: 4px solid #bb7968;
  font-family: "Now", "Poppins", sans-serif;
  background-color: transparent;
  color: #bb7968;
  font-size: 1.5rem;
  padding: 0.75em 2em;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #bb7968;
  color: white;
}

.button--pink {
  background-color: #bb7968;
  font-family: "Now", "Poppins", sans-serif;
  color: white;
  border: none;
  padding: 0.75em 1em;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  white-space: nowrap;
}

.button--pink:hover,
.button--pink:focus {
  font-weight: bold;
  border: 4px solid #bb7968;
  background-color: white;
  color: #bb7968;
}

@media (min-width: 750px) {
  .button--pink {
    border: 4px solid #bb7968;
    background-color: transparent;
    color: #bb7968;
    text-align: center;
    float: right;
  }
  .button--pink:hover,
  .button--pink:focus {
    background-color: #bb7968;
    color: white;
  }
  #button--pinkfill {
    background-color: #bb7968;
    color: white;
  }
  #button--pinkfill:hover,
  #button--pinkfill:focus {
    background-color: white;
    color: #bb7968;
  }
}

/*footer styles */
.footernav {
  background-color: rgba(126, 153, 54, 0.6);
  color: white;
  padding: 3.5em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footernav__list {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footernav__item {
  list-style: none;
  margin-bottom: 1.5em;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

.footernav__link {
  text-decoration: none;
  color: white;
}

.footernav__link:hover, .footernav__link:focus {
  font-family: "Now-Black", "Poppins", sans-serif;
  font-weight: 700;
  text-decoration: underline;
}

@media (min-width: 750px) {
  .footernav {
    padding: 2.5em 7em;
  }
  .footernav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40%;
  }
}

/* form */
.newsletter {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsletter .button--pink {
  margin: 0 auto;
  width: 70%;
  max-width: 150px;
  font-size: 1rem;
  padding: 0.5em 0.5em;
}

label {
  display: none;
}

input {
  margin-bottom: 1.5em;
  padding: 1em 1.5em;
  border-radius: 5px;
  border: none;
  width: 65%;
}

::-webkit-input-placeholder {
  color: #bb7968;
}

:-ms-input-placeholder {
  color: #bb7968;
}

::-ms-input-placeholder {
  color: #bb7968;
}

::placeholder {
  color: #bb7968;
}

@media (min-width: 750px) {
  input {
    width: 50%;
  }
}

/* cats page scss */
/* cats page typography */
.adoption__header {
  text-align: center;
}

.adoption__title {
  color: #bb7968;
  font-size: 3rem;
  margin: 0.5em 0;
}

.adoption__subtitle {
  margin-bottom: 0.5em;
}

.adoption__info {
  line-height: 2;
  margin-bottom: 3.5em;
}

.wrapper {
  width: 65%;
  margin: 0 auto;
}

.card-container {
  display: block;
  margin: 0 auto 4em auto;
  padding: 0 3em;
}

.card {
  width: 250px;
  border-radius: 5px;
  position: relative;
  margin: 0 auto;
  padding: 0 0 1em 0;
  -webkit-box-shadow: 2px 2px 6px 0px #bb7968;
          box-shadow: 2px 2px 6px 0px #bb7968;
}

.card__imgdiv {
  height: 60%;
  overflow: hidden;
}

.card__img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__info {
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card:hover,
.card:focus {
  -webkit-box-shadow: 2px 2px 26px 0px #bb7968;
          box-shadow: 2px 2px 26px 0px #bb7968;
}

@media (min-width: 650px) {
  .card-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 2em;
            column-gap: 2em;
    row-gap: 3em;
  }
}

@media (min-width: 950px) {
  .card-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 2em;
            column-gap: 2em;
    row-gap: 3em;
  }
}
/*# sourceMappingURL=styles.css.map */