@import "./global";
@import "./mixins";

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* typography */ 
@font-face {
    font-family: "Now-Regular", sans-serif;
    src: url(/fonts/Now-Regular.otf);
}

@font-face {
    font-family: "Now-Bold", sans-serif;
    src: url(/fonts/Now-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: "Buffalo", cursive;
    src: url(/fonts/Buffalo.otf);
}

body {
    font-family: "Now-Regular", sans-serif;
}

.hero__title {
    font-weight: bold;
    color: white;
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 0.25em;
    margin-bottom: 1.2em;
    text-shadow: -4px 4px 6px $primaryPink;
}

.reservations__cursivetext--pink,
.about__cursivetext--pink{
    font-family: "Buffalo", cursive;
    color: $primaryPink;
    font-size: 3.5rem;
}

.newsletter__cursivetext--white{
    font-family: "Buffalo", cursive;
    font-size: 2.7rem;
    letter-spacing: 2px;
    text-align: center;
}

.reservations__text,
.about__text {
    font-size: 1.5rem;
    line-height: 1.7;
    margin-top: 0;
    margin-bottom: 1em;
}

.link{
    font-size: 1.5rem;
    color: $primaryPink;
    text-decoration: none;
}

.link:hover,
.link:focus{
    font-weight: bold;
    text-decoration: underline;
}
/* images */
img {
    max-width: 100%;
    border-radius: 5px;
    margin: 3em 0;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    width: 60%;
    max-width: 400px;
}

/* navigation */
.nav {
    font-size: 2rem;

    .nav__list{
        @include flex(column, space-between, center);
        display: none;
        background-color: $accentGreen;
        padding: 1em;
        margin: 1em;
        text-align: center;
    }

    .nav__item {
        list-style: none;
    }

    .nav__link {
        text-decoration: none;
        color: white;
    }
    
    .nav__link:hover, .nav__link:focus {
        border-bottom: 1px solid white;
        font-weight: bold;
    }
    .fa-search, 
    .fa-bars {
        color: $primaryPink;
        padding-right: 0.5em;
        cursor: pointer;
    }
    
    .mobilenav{
        @include flex(row, flex-end, center);
        margin-bottom: 0.75em;
        margin-right: 0;
    }
}

/* hero */ 
.hero {

    &__imgdiv{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    &__img{
        background-image: url(/images/womenwcat_heroimg.jpg);
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: right 25% bottom 35%;
    }
    
    &__text {
        position: absolute; 
        padding: 4em;
        width: 70%;
        z-index: 100;
    }
}

/* reservations and photo gallery */

.main__photo-gallery{
    display: block;
    margin: 3.5em 0;
}


.container {
    padding: 3.5em 2em;
    text-align: center;
}

.gallery-img-mobile{
    display: none;
}

.fa-circle {
    opacity: 40%;
}

.pink {
    color: $primaryPink;
}

/* button styles */

.button {
    border: 4px solid $primaryPink;
    background-color: transparent;
    color: $primaryPink;
    font-size: 1.5rem;
    padding: 0.75em 2em;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover, 
.button:focus{
    background-color: $primaryPink;
    color: white;
}

.button--pink {
    background-color: $primaryPink;
    color: white;
    border: none;
    padding: 0.75em 1em;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    white-space: nowrap;
}

/*footer styles */

.footernav{
    background-color: $accentGreen;
    color: white;
    padding: 3.5em 2em;
    display: flex;
    justify-content: space-between;

    &__list{
        text-align: center;
    }

    &__item{
        list-style: none;
        margin-bottom: 1.5em;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }

    &__link{
        text-decoration: none;
        color: white;
    }

    &__link:hover, &__link:focus{
        text-decoration: underline;
        font-weight: bold;
    }
}

/* form */ 

.newsletter{
    width: 50%;
    display: flex;
    flex-direction: column;

    .button--pink {
        margin: 0 auto;
        width: 70%;
        font-size: 1rem;
        padding: 0.5em 0.5em;
    }
}

label{
    display: none;
}

input{
    margin-bottom: 1.5em;
    padding: 1em 1.5em;
    border-radius: 5px;
    border: none;
}

::placeholder {
    color: $primaryPink;
}

